.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bgcontainer {
  z-index: -1;
  position: fixed;
  inset: -80px;
  transform: rotateZ(-4deg);
}

.background {
  position: absolute;
  inset: -80px;
  background: url('/img/logo.png') repeat;
  animation: slide 2.4s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(-80px);
  }
  to {
    transform: translateX(0);
  }
}

.center, .centerSmall {
  background: #fff;
  text-align: center;
  padding: 32px;
  border-radius: 8px;
  border: 2px solid #000;
  box-shadow: 0 16px #000;
  margin: 0 32px;
}

@media (max-width: 767px) {
  .center {
    display: none;
  }
}

@media (min-width: 768px) {
  .centerSmall {
    display: none;
  }
}

.center > h1, .centerSmall > h1 {
  margin: 0;
}

.center > p {
  margin-bottom: 20px;
}

.centerSmall > .icons {
  display: flex;
  justify-content: center;
}

.centerSmall > .icons:last-of-type {
  margin-top: 8px;
}

.centerSmall > .icons > a {
  width: 70px;
  display: flex;
  justify-content: center;
}

.centerSmall > .icons > a:nth-of-type(3) {
  width: 64px;
}

.centerSmall > p:first-of-type {
  margin-top: 16px;
}

.centerSmall > p {
  margin: 12px 0;
}

.centerSmall > p:last-of-type {
  margin-bottom: 20px;
}

.link > a {
  color: #2196f3;
}

.link > a:hover {
  color: #3f51b5;
  text-decoration: underline;
}

.icons > a {
  margin: 0 8px;
}

.icons > a:hover {
  color: #2196f3;
}
