.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bgcontainer {
  z-index: -1;
  position: fixed;
  inset: -80px;
  transform: rotateZ(-4deg);
}

.background {
  position: absolute;
  inset: -80px;
  background: url('/img/logo.png') repeat;
  animation: slide 2.4s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(-80px);
  }
  to {
    transform: translateX(0);
  }
}
  text-align: center;

.link > a {
  color: #2196f3;
}

.link > a:hover {
  color: #3f51b5;
  text-decoration: underline;
}

.icons > a {
  margin: 0 8px;
}

.icons > a:hover {
  color: #2196f3;
}
